#Ignore All
*

# Ignore files without extensions
!*.*

# Unignore all dirs
!*/

### Above will ignore all files without extensions, like binaries ###

# Normal output files
*.out
*.o
*.ko
*.bin

# Make output junk
*.symvers
*.order
*.cmd
.tmp_versions/
*.mod.c

# Other Directories
bin/
Debug/
Release/
